/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.navbar-brand {
  margin-left: 20px; 
}

ul {
  margin-right: 20px;
}


/*Login Form*/

form {
  text-align: center;
  border: 1px solid #000000; 
  padding: 20px; 
  width: 500px;
  margin: 0 auto; 
}

h3 {
  text-align: center;
}


